{% extends "mockup_base.templ" %}

{% block content %}
    <strong>Ha quedado registrada su cita, le avisaremos por sms o por email cuando se acerque su cita, asi como cualquier cambio que sea necesairo comunicarle.</strong>
{% endblock content %}

{% block footer_scripts %}

{% endblock footer_scripts %}