{% extends "base.templ" %}
{% block page_title %}
    Clientes
{% endblock page_title %}
{% block page_style %}
    .accordion-group {
    border: none;
    }
{% endblock page_style %}

{% block container %}
<h2>Clientes</h2>
<div class="row">
    <div class="span8">
        <form class="form-search">
            <input class="span4" type="search" placeholder="Busqueda">
            <button type="submit" class="btn">Ir</button>
        </form>
        <a class="btn" href="{% url clients.views.create_client client_type="natural" %}" >Añadir Persona Natural | <i class="icon-user"></i></a>
        <a class="btn" href="{% url clients.views.create_client client_type="legal" %}" >Añadir Persona Juridica </a>
    </div>
</div>
{% if clients %}
<div class="row">
    <div class="span6">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th width="8%">&nbsp;</th>
                    <th width="80%">Cliente</th>
                    <th width="12%">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for client in clients %}

                <tr>
                    <td>

                    </td>
                    <td>
                        <a href="/clients/{{client.id}}">
                        {{client.get_name}}
                        </a>
                    </td>
                    <td>
                        <a href="#" id="pop{{client.id}}" rel="popover" data-html="true" data-placement="right" data-content="Esta acción no se puede deshacer&lt;br&gt;&lt;form action=&quot;#&quot; onreset=&quot;hideAllPopovers()&quot; method=&quot;post&quot;&gt;    {% csrf_token %}    &lt;input type=&quot;hidden&quot; name=&quot;client_id&quot; value=&quot;{{client.id}}&quot;&gt;    &lt;input type=&quot;submit&quot; value=&quot;Confirmar&quot; name=&quot;confirm_remove&quot;&gt;    &lt;input type=&quot;reset&quot; value=&quot;Cancelar&quot;&gt;&lt;/form&gt;" title="Confirmación">
                            <i class="icon-trash" title='Eliminar este cliente'></i>
                        </a>
                        <a href='' ><i class="icon-pencil" title='Editar este cliente'></i></a>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endblock container %}
