{% extends "base.templ" %}
{% load event_tags %}

{% block page_title %}
    Calendario
{% endblock page_title %}

{% block page_style %}
        #calendar {
        padding-top: 1em;
        padding-bottom: 1em;
        margin-right: .5em;
        margin-left: .5em;
    }

    #calendar table {
        width: 100%;
    }

    #calendar th {
        font-size: 1em;
        background-color: #00297A;
        text-align: center;
        color: #FFF;

    }

    #calendar .mon th,
    #calendar .tue th,
    #calendar .wed th,
    #calendar .thu th,
    #calendar .fri th,
    #calendar .sat th,
    #calendar .sun th
    {
        text-align: center;
        font-size: .75em;
        background-color: #00297A;
        color: #FFF;
    }

    #calendar table tr th {
    }

    #calendar table tr td {
        width: 10%;
        border: 1px solid #555;
        vertical-align: top;
        height: 120px;
        padding: 2px;
    }

    #calendar td.noday {
        background-color: #eee;
    }

    #calendar td.filled {
        background-color: #ADC3DB;
    }

    #calendar td.today {
        border: 4px solid #316497;
    }

    #calendar .dayNumber {
        float: right;
        font-size: 1em !important;
    }

    #calendar .dayNumberNoReadings {
        float: right;
    }
{% endblock page_style %}

{% block container %}
<h3>Este mes</h3>
<div id="calendar">
    {% event_calendar year month events_list %}
</div>

{% endblock container %}
